*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}

.sitename {
  font-family: "Shrikhand";
  font-weight: 700;
  font-size: 3rem;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  font-weight: 400;
}

@media screen and (min-width: 480px) {
  .restaurant-page {
    width: 100vw;
  }

  header .sitename {
    font-size: 4rem;
    margin-bottom: 3rem;
  }

  .home .home-info__location {
    background: whitesmoke;
    height: 1.5rem;
    width: 30%;
    max-width: 200px;
    margin: 0 auto;
    border-radius: 10px;
    border-top: 2px solid lightgrey;
  }
  .home .instructions h3 {
    align-self: center;
  }
  .home .instructions .instruction-item {
    min-width: 200px;
    max-width: 300px;
  }
  .home .nav h3 {
    align-self: center;
  }
  .home .nav .nav__link {
    width: 70%;
    max-width: 450px;
    max-height: 320px;
    height: 50vh;
    min-height: 280px;
  }
  .home .nav .nav__link .new {
    max-width: 70px;
  }
  .home .nav .nav__restaurant-img {
    width: 100%;
    height: 75%;
  }
  .home .info {
    align-items: center;
  }

  .restaurant-img {
    width: 85%;
    height: auto;
    max-height: 600px;
    position: relative;
    z-index: 100;
    background-size: cover;
    margin: 0;
  }

  .restaurant {
    width: 100vw;
    background-color: #e8e8e8;
    position: absolute;
    z-index: 500;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .restaurant .title__name {
    align-self: center;
    margin: 0 auto;
  }
  .restaurant .restaurant__course {
    align-self: center;
    margin: 0 auto;
  }
  .restaurant .restaurant__course:after {
    width: fit-content;
    border-bottom: 0px;
  }
  .restaurant .menu {
    width: 100%;
  }
  .restaurant .menu .menu-item {
    width: 50%;
    max-width: 350px;
  }
  .restaurant .btn__order {
    width: 40%;
    max-width: 210px;
  }
  .restaurant .info {
    align-items: center;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 0.5em;
  }

  .explore-link {
    font-size: 1.5rem;
  }

  .instructions .instruction-item p {
    font-size: 1.5rem;
  }
}
header {
  background: #fff;
  text-align: center;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  background-color: #393534;
  color: whitesmoke;
  padding-bottom: 5rem;
}
.info__title {
  font-family: "Shrikhand";
  margin: 3rem;
  color: #e6e6e6;
  letter-spacing: 2px;
}
.info a {
  color: whitesmoke;
  text-decoration: none;
  margin: 1rem 3rem;
  width: fit-content;
}
.info a:hover {
  color: #9c9c9c;
}
.info .fas.fa-utensils {
  margin-right: 2rem;
}
.info .fas.fa-hands-helping {
  margin-right: 1rem;
}

.sitename {
  font-weight: 300;
  font-size: 3rem;
  padding: 1.5rem;
}

.home-info {
  margin-bottom: 6rem;
}
.home-info__location {
  text-align: center;
  background-color: lightgrey;
  border-top: 1.5px solid gray;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-weight: normal;
}
.home-info__title {
  text-align: center;
  font-weight: 700;
  padding: 3rem;
}
.home-info__subtitle {
  text-align: center;
  padding: 3rem;
}
.home-info__explore {
  text-align: center;
  object-fit: contain;
  padding: 4rem;
  padding-bottom: 6rem;
}
.home-info i {
  margin-right: 1.5rem;
}

.explore-link {
  background: #9356DC;
  padding: 2rem;
  border-radius: 36px;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.explore-link:hover {
  background-color: #a16be0;
}

.instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.instructions h3 {
  align-self: flex-start;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
}

.number {
  background-color: #9356DC;
  color: #fff;
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  margin-left: -30px;
  border-radius: 50%;
  font-size: 1.5rem;
}

.instruction-item {
  display: flex;
  background: whitesmoke;
  padding: 2rem;
  width: 78vw;
  margin: 1rem;
  border-radius: 16px;
  box-shadow: 5px 5px 5px lightgrey;
}
.instruction-item__text {
  font-weight: bold;
  font-size: 1.8rem;
  align-self: center;
}
.instruction-item i {
  margin-right: 2rem;
  margin-left: 2rem;
  align-self: center;
  color: #5D5B5B;
}
.instruction-item .fas.fa-mobile-alt {
  margin-right: 3rem;
}
.instruction-item .fas.fa-list-ul {
  margin-right: 2.4rem;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0f0f0;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 2.5rem;
}
.nav h3 {
  align-self: flex-start;
  margin-left: 2.5rem;
  margin-bottom: 2.5rem;
  margin-top: 4rem;
}
.nav__link {
  width: 88vw;
  background-color: white;
  margin-bottom: 3rem;
  border-radius: 20px;
  padding-bottom: 1rem;
  color: black;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}
.nav__link:hover {
  color: #737373;
}
.nav__link .new {
  background-color: #99E2D0;
  color: #2c9c81;
  width: 18vw;
  border-radius: 2px;
  font-weight: 500;
  text-align: center;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 5%;
}
.nav__restaurant-img {
  width: 88vw;
  height: 22vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: fill;
}
.nav__rest-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem;
  margin-top: 1.5rem;
}
.nav__rest-location {
  font-size: 1.6rem;
  margin: 1rem;
}
.nav__rest-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav .far.fa-heart {
  margin-right: 2.5rem;
  margin-bottom: 1.5rem;
  align-self: center;
  font-size: 1.3em;
  color: #666666;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.palette__sitename {
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 3rem;
  padding: 1.5rem;
  margin: 0 auto;
}
.palette .fas.fa-arrow-left {
  color: black;
  margin-left: 3rem;
  margin-right: 0;
  font-size: 2.5rem;
}

.restaurant-page {
  width: 100%;
}

.restaurant-img {
  width: 100%;
}

.restaurant {
  background-color: #e8e8e8;
  margin-top: -5rem;
  position: relative;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
  width: 100%;
}
.restaurant__course {
  font-size: 1.8rem;
  font-weight: 300;
  width: max-content;
  margin-left: 2rem;
  margin-top: 3rem;
}
.restaurant__course:after {
  content: "";
  display: block;
  position: relative;
  width: 12vw;
  border-bottom: 5px solid #99E2D0;
  border-radius: 2px;
  margin-top: 8px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}
.title__name {
  font-family: "Shrikhand";
  font-weight: 300;
  font-size: 3rem;
}
.title i {
  align-self: center;
  margin-right: 1rem;
  color: #666666;
  font-size: 3rem;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}

.menu-item {
  background: #f2f2f2;
  color: black;
  padding: 1.5rem;
  width: 85vw;
  margin: 1rem;
  border-radius: 16px;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-item__dish {
  font-weight: bold;
  margin-bottom: 1rem;
}
.menu-item__extra {
  font-size: 1.7rem;
}
.menu-item__price {
  font-size: 1.7rem;
  font-weight: bold;
}

.menu-item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7rem;
}
.btn__order {
  background-color: #9356DC;
  color: #fff;
  font-size: 2rem;
  padding: 2rem;
  width: 55vw;
  border-radius: 40px;
  border-width: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btn__order:hover {
  background-color: #a16be0;
  text-decoration: none;
  cursor: pointer;
  border: none;
  outline: none;
}
.btn__order:focus {
  outline: none;
}
.btn__order:active {
  outline: none;
  border: 0px;
}

/*# sourceMappingURL=style.css.map */
