@include media-md {


    header {
        .sitename {
            font-size: 4rem;
            margin-bottom: 3rem;
        }
    }
        

    .home {

        .home-info__location {
            background: whitesmoke;
            height: 1.5rem;
            width: 30%;
            max-width: 200px;
            margin: 0 auto;
            border-radius: 10px;
            border-top: 2px solid lightgrey;
        }

        .instructions {

            h3 {
                align-self: center;
            }

            .instruction-item {
                min-width: 200px;
                max-width: 300px;
            }
        }

        .nav {

            h3 {
                align-self: center;
            }

            .nav__link {
                width: 70%;
                max-width: 450px;
                max-height: 320px;
                height: 50vh;
                min-height: 280px;

                .new {
                    max-width: 70px;
                }
            }

            .nav__restaurant-img {
                width: 100%;
                height: 75%;
            }

        }

        .info {
            align-items: center;
        }
    }

    .restaurant-img {
        width: 90%;
        height: 85%;
        max-height: 600px;
        position: relative;
        z-index: 100;
        background-size: cover;
        overflow: hidden;
    }
        .restaurant {

            width: 100%;

            .title__name {
                align-self: center;
                margin: 0 auto;
            }

            background-color: darken(whitesmoke, 5%);
            position: absolute;
            z-index: 500;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;

            .restaurant__course {
                align-self: center;
                margin: 0 auto;

                &:after {
                    width: fit-content;
                    border-bottom: 2px solid black;
                }
            }

            .menu {
                max-width: 100%;
                .menu-item {
                    width: 50%;
                    max-width: 350px;
                }
            }

            .btn__order {
                width: 40%;
                max-width: 210px;
            }

            .info {
                align-items: center;
            }
        }
}








@include media-s {

    html {
        font-size: 0.5em;
    }

    .explore-link {
        font-size: 1.5rem;
    }

    .instructions {

        .instruction-item {

            p {font-size: 1.5rem;}
        
        }
    }
}