@include media-md {

    body {
        width: 100%;
    }

    .restaurant-page {
        width: 100%;
        


        .footer-main {
            text-align: center;
            margin-bottom: 0;
            width: 100%;
        }

        .info {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-bottom: 0;
            // background-color: blue;
            padding-bottom: 2rem;

            a {
                // background-color: black;
            }
        }

    }


    header {
        .sitename {
            font-size: 4rem;
            margin-bottom: 3rem;
        }
    }
        

    .home {


        .home-info__location {
            background: whitesmoke;
            height: 1.5rem;
            width: 30%;
            max-width: 200px;
            margin: 0 auto;
            border-radius: 10px;
            border-top: 2px solid lightgrey;
        }

        .instructions {

            h3 {
                align-self: center;
            }

            .instruction-item {
                min-width: 200px;
                max-width: 300px;
            }
        }


        .test-layout {
            flex-direction: column;
            // background-color: lightcoral;

            h3 {
                // background-color: lightblue;
                align-self: center;
                position: relative;
                right: 1rem;
            }
        }

        .nav {
            // background-color: lightgreen;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            padding-bottom:5rem;
            width: 85%;

            .nav__link {
                width: 70%;
                max-width: 450px;
                max-height: 320px;
                height: 50vh;
                min-height: 280px;
                outline: none;
                // background-color: lightcoral;
                margin: 3rem;
                margin-bottom: 5rem;

                .new {
                    max-width: 70px;
                }
            }

            .nav__restaurant-img {
                width: 100%;
                height: 75%;
            }

        }

        .footer-main {
            text-align: center;
        }

        .info {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding-bottom: 2rem;
            font-size: 1.5rem;

            .fas.fa-utensils {
                margin-right: 1rem;
            }

            .fas.fa-hands-helping {
                margin-right: 1rem;
            }

        }
    }



        .restaurant-img {
            width: 100%;
            height: auto;
            position: absolute;
            z-index: 100;
            background-size: cover;
        }
        
        .restaurant {

            width: 100%;
            background-color: darken(whitesmoke, 5%);
            position: relative;
            top: 30rem;
            z-index: 500;
            // border-top-left-radius: 0;
            // border-top-right-radius: 0;
            border-top-left-radius: 45px;
            border-top-right-radius: 45px;
            margin: 0;
            padding: 0;

            .title__name {
                align-self: center;
                margin: 0 auto;
                position: relative;
                left: 2rem;
            }


            

            .restaurant__course {
                align-self: center;
                margin: 0 auto;

                &:after {
                    width: fit-content;
                    border-bottom: 0px;
                }
            }

            .menu {
                width: 100%;
                .menu-item {
                    width: 50%;
                    max-width: 350px;
                }
            }

            .btn__order {
                width: 40%;
                max-width: 210px;
            }

            .info {
                align-items: center;
                font-size: 1.5rem;
            }
        }
}








@include media-s {

    html {
        font-size: 0.5em;
    }

    .explore-link {
        font-size: 1.5rem;
    }

    .instructions {

        .instruction-item {

            p {font-size: 1.5rem;}
        
        }
    }
}