@mixin flex() {
    display: flex;
    flex-direction: column;
    align-items: center;
}




@mixin media-md {
    @media screen and (min-width: 520px) {
        @content;
    }
}



@mixin media-s {
    @media screen and (max-width: 360px) {
        @content;
    }
}


@mixin media-int {
    @media screen and (min-width: 480px) and (max-width: 520px) {
        @content;
    }
}