@mixin flex() {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
}

@mixin media-s {
    @media screen and (min-width: 600px) and (max-width: 768px) {
        @content;
    }
}

@mixin media-md {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content;
    }
}